{% extends 'pages/base.html' %}
{% load static %}

{% block content %}

<div class="main-banner">
    <h1>Treinador David Brito</h1>
    <p>Melhore sua postura, ganhe massa muscular e perca gordura com Musculação e HIIT</p>
</div>
<section class="services-container">
    <ul>
        <li>
            <i class="fas fa-dumbbell"></i>
            <h3>Treinamento Personalizado</h3>
            <p>
                Cada pessoa tem necessidades únicas. Desenvolvo programas de treinamento específicos para seus objetivos, seja perder peso, ganhar massa muscular ou melhorar a resistência física.
            </p>
        </li>
        <li>
            <i class="fas fa-heartbeat"></i>
            <h3>Saúde e Bem-estar</h3>
            <p>
                Mais do que estética, meu foco é melhorar sua qualidade de vida. Através de exercícios funcionais e técnicas avançadas, ajudo você a alcançar uma vida mais saudável e equilibrada.
            </p>
        </li>
        <li>
            <i class="fas fa-calendar-alt"></i>
            <h3>Acompanhamento Contínuo</h3>
            <p>
                Ofereço suporte completo com monitoramento dos seus progressos e ajustes nos treinos sempre que necessário. Estou disponível para esclarecer dúvidas e dar orientações a qualquer momento.
            </p>
        </li>
    </ul>
</section>


{% endblock %}