{% load static %}

<header>
    <nav>
        <a href="#">
            <img src="{% static 'img/Dumbell.png' %}" alt="Dumbell" class="logo">
        </a>
        <ul class="navbar-items">
            <li>
                <a href="">Home</a>
            </li>
            <li>
                <a href="">Preços</a>
            </li>
            <li>
                <a href="">Treinos</a>
            </li>
            <li>
                <a href="">Entrar</a>
            </li>
        </ul>
    </nav>
</header>